<div class="container">
        <div class="row">
            <div class="col-md-8" class="shadow p-3 mb-5 bg-white rounded">              
              <p class="font-weight-bold">O papel da impressão 3D na preparação do profissional 4.0</p>
              <p class="text-lg-left">A preparação dos profissionais na indústria 4.0 é fundamental! 
                  Com o avanço da tecnologia, expansão do uso da internet, maior inteligência no uso 
                  de dados e automação, todos os processos de fabricação e produção tendem a mudar.</p>
                <p class="text-lg-left">A impressão 3D é uma das tecnologias que puxam essa evolução. 
                    As impressoras permitem a criação de peças e protótipos funcionais, agregando 
                    diversos benefícios que até então não eram vistos.</p>
            </div>
        </div>
</div>
<p></p>