
  <div class="container">
          <div class="row">
              <div class="col-md-8" class="shadow p-3 mb-5 bg-white rounded" >              
                <p class="font-weight-bold">7 Modelos para ajudar a calibrar sua impressora 3D</p>
                <p class="text-lg-left">Calibrar sua impressora 3D é ou já foi um desafio? Para a maioria 
                    dos usuários de impressão 3D este ajuste pode ser um bicho de sete cabeças. Até pessoas 
                    de nível de conhecimento avançado na tecnologia ainda enfrentam esse dilema que é calibrar 
                    a impressora 3D.</p>
                  <p class="text-lg-left">No entanto, existem alguns modelos que podem te auxiliar nessa missão. Seja o tão famoso 
                      benchy ou o cubo de calibração XYZ cada peça tem sua importância e pode te auxiliar 
                      bastante. Algumas podem te ajudar a nivelar a mesa, outras podem te mostrar qual a 
                      temperatura ideal de impressão de um determinado material.</p>
              </div>
          </div>
  </div>

<p></p>