<div class="container">
        <div class="row">
            <div class="col-md-8" class="shadow p-3 mb-5 bg-white rounded">              
              <p class="font-weight-bold">Low poly, voxelization e voronoi: aprenda a estilizar 
                  seus modelos utilizando essas três técnicas!</p>
              <p class="text-lg-left">Já pensou em estilizar seus modelos 3D, mas ainda não sabe 
                  como? O Meshmixer é a ferramenta certa para isso. Ele é um dos softwares mais úteis 
                  para editar e reparar modelos para impressão 3D. Foi desenvolvido pela Autodesk e 
                  inclui recursos como cortes, furos, adição de encaixes personalizados e muito mais.</p>
                <p class="text-lg-left">Neste conteúdo vamos ensinar três técnicas muito simples de 
                    estilizar modelos 3D utilizando o programa Meshmixer. A primeira é o Low Poly, 
                    que é um termo bastante utilizado pelos desenvolvedores de jogos e usuários de 
                    impressão 3D para descrever a diminuição de polígonos em um objeto ou personagem 
                    tri-dimensional.</p>
            </div>
        </div>
</div>
<p></p>