<div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Blog 3D</h1>
      <p class="lead">Tudo sobre impressão 3D no Brasil.</p>
    </div>
</div>

<div class="row">
  <div class = "col d-flex justify-content-center">
    <div class="col-sm-8">
      <div class="card-header">
        <div class="card-body">
          <h3 class="card-title">Posts Atuais</h3>
          <hr>

          
          <app-post1></app-post1>
          <app-post2></app-post2>

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card-header">
        <div class="card-body">
          <h3 class="card-title">Posts Antigos</h3>
          <hr>

          <app-post3></app-post3>


        </div>
      </div>
    </div>
  </div>
</div>